.recipies
{
    max-height: 800px;
    min-height: 800px;
    background-color: khaki;
}
ul.dropdown-menu
{
    padding-left: 20px;
}
input[type=checkbox] {
    transform: scale(1.5);
}
.img
{
    background-color: red;
    height: 250px;
    width: 250px;
}