header {
    font-family: Georgia;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    color: blue;
}

nav {
    border-style: solid;
    border-color: lightgreen;
}

p {
    font-family: Georgia;
    font-size: 25px;
    color: orangered;
}

.container {
  width: 475px;
  height: 500px;
  border: 1px solid green;
  margin-top: 20px;
}

.row {
    border: 1px solid orange;
    width: 250px;
    height: 150px;
    padding: 10px;
    margin: 10px;
}

footer {
    font-family: Georgia;
    text-align: center;
    font-size: 20px;
}



